@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@200&family=Roboto:wght@300;700&display=swap');


.textHeader {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.typewriter{
    font-size: 60px;
    text-align: center;
    justify-content: center;
    min-height: 100px;
}



.typewriter .Typewriter__cursor {
    display: none;
}

.langTools{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.grid-container ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns of equal width */
    grid-gap: 25px; /* Adjust the gap between grid items */
    list-style: none;
    margin: auto;
    padding: 0px 200px;
}

.grid-container li {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    border: solid 1px #c0c0c0;
    height: 200px; /* Fixed height for each box */
    width: 200px;
    text-align: center;
}

.grid-container img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.grid-container span {
    align-self: center; /* Center text horizontally */
}