.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px;

}

.project-card {
    margin: 10px; /* This adds margin around each card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
    transition: box-shadow 0.3s ease; /* Optional: Animation for shadow on hover */
}

.project-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Optional: Larger shadow on hover for interaction feedback */
}

.image-container {
    position: relative;
    overflow: hidden;
}

.project-image {
    width: 400px;
    height: 275px;
    object-fit: cover; /* Ensures the image covers the entire container */
    transition: transform 0.3s ease;
    cursor: pointer; /* Indicates that the image is clickable */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay:hover {
    opacity: 1;
}

.project-info {
    text-align: center;
    padding: 10px;
}

.project-name {
    margin-bottom: 5px;
    font-size: 20px;
}

.project-description,
.project-tech-stack {
    font-size: 14px;
}

.project-btn {
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none; /* Removes underline from links */
    color: white; /* Adjust the text color to fit your design */
    background-color: #007bff; /* Bootstrap primary color for consistency */
    border: none;
    padding: 5px 10px; /* Adds some padding inside the button */
    border-radius: 5px; /* Optional: Rounds the corners of the button */
    transition: background-color 0.3s ease; /* Smooth transition for button background color */
}

.project-btn:hover {
    background-color: #0056b3; /* Darkens the button on hover for interactive feedback */
}
