.card-header-center {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}

.dp {
    width: 300px;
    border-radius: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.card-body{
    padding: 0 50px;
}

.name{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 100%;
}

.resume, .linkedIn{
    font-size: 16px;
    margin-right: 10px;
    width: 150px;
    padding: 10px;
    max-width: 100%;
    background-color: #696969;
    color: #eeeeee;
    border-radius: 5px;
    border: none;
}

.resume:hover, .linkedIn:hover{
    color: #e9ecef;
    background-color: #007bff;
    cursor: pointer;
}

.email, .github{
    margin-bottom: 20px;
}

.email:hover{
    color:#007bff;
    cursor: pointer;
}

.github:hover{
    color:#007bff;
    cursor: pointer;
}


hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #666666;
}

.card-footer{
    padding: 0 50px;
}

.socials{
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    color: #fff;
    content: " ";
    font-size: 24px;
    background: linear-gradient(45deg, #ff003c, #c648c8);
    transform: scale(1);
    margin-right: 20px;
}

.social-button:hover {
    background: linear-gradient(180deg, #c648c8, #ff003c);
    cursor: pointer;
}

