body {
  margin: 0;
  background-color: #1f1b24;
}


/* Style for the main container that holds everything */
.app-container {
  display: flex;
  flex-direction: row; /* Change to row for horizontal layout */
  height: 100vh;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1b24;
  color: #c0c0c0;
  font-size: 16px;
  padding-top: 170px;
  padding-left: 30px;
}


.overview, .projects-container, .about-container, .contact-container, .documentation-container {
  display: flex;
  flex-direction: column; /* Change to column for vertical alignment of content */
  color: #c0c0c0;
  font-size: 20px;
  padding-top: 120px; /* Add padding as needed */
  width: 80%;
}

